<!-- begin interface_users_editor template //-->
<!--  my @suffix=("","Jr","Sr","III","IV","V","esq","Duke");
  my @theme=("difr","default");
  my @section=("Research","IRM","Business Office","Directors Office","Medical Administration");
  if($timeout eq ''){$timeout=15;}

  # encapsulating table
  print qq(<table width="100%" align="center" cols="2" border="2"><tr><td>);
//-->

<form action="index.pl" method="get">
<input type="hidden" name="active" value="true">
<input type="hidden" name="action" value=<TMPL_VAR NAME=action>>
<h3>User Account Information</h3>
<div id='record'>
  <div id="floatright">
    <input type="submit" value="Save Record">
  </div>
  <label for="uname">Username</label>
    <input type="textfield" name="uname" size="12" value=<TMPL_VAR NAME=uname>>
  <label for="active">Account Active?</label>
    <select name="active" size="1" value=<TMPL_VAR NAME=active>>
      <option value="true" <TMPL_VAR NAME=activetrue>>True</option>
      <option value="false" <TMPL_VAR NAME=activefalse>>False</option>
    </select>
  <label for="pword">Password</label>
    <input type="password" name="pword" size="15" value=<TMPL_VAR NAME=pword>>
  <label for="timeout">Timeout</label>
    <input type="textfield" name="timeout" size="3" value=<TMPL_VAR NAME=timeout>>
  <label for="theme">Theme</label>
    <select name="theme" size="1" value=<TMPL_VAR NAME=theme>>
      <option value="difr" <TMPL_VAR NAME=themedifr>>DIFR</option>
      <option value="default" <TMPL_VAR NAME=themedefault>>Default</option>
    </select>
  <br />
  <label for="title">Title</label>
    <input type="textfield" name="title" size="5" value=<TMPL_VAR NAME=title>>
  <label for="fname">Firstname</label>
    <input type="textfield" name="fname" size="12" value=<TMPL_VAR NAME=fname>>
  <label for="middle">INI</label>
    <input type="textfield" name="middle" size="3" value=<TMPL_VAR NAME=middle>>
  <label for="lname">Lastname</label>
    <input type="textfield" name="lname" size="25" value=<TMPL_VAR NAME=lname>>
  <label for="suffix">Suffix</label>
    <input type="textfield" name="suffix" size="5" value=<TMPL_VAR NAME=suffix>>
</div>
<h3>Facility Data</h3>
<div id='record'>
  <label for="service">Facility</label>
    <select name="service" size="1" value=<TMPL_VAR NAME=service>>
      <option value="Bay Pines" <TMPL_VAR NAME=servicebay>>Bay Pines</option>
      <option value="Miami" <TMPL_VAR NAME=servicemia>>Miami</option>
      <option value="North Florida" <TMPL_VAR NAME=servicenfl>>North Florida</option>
      <option value="Orlando" <TMPL_VAR NAME=serviceorl>>Orlando</option>
      <option value="San Juan" <TMPL_VAR NAME=servicesan>>San Juan</option>
      <option value="Tampa" <TMPL_VAR NAME=servicetam>>Tampa</option>
      <option value="West Palm Beach" <TMPL_VAR NAME=servicewpb>>West Palm Beach</option>
    </select>
  <label for="section">Department</label>
    <select name="section" value=<TMPL_VAR NAME=section>>
      <option value="Administration" <TMPL_VAR NAME=sectionadministration>>Administration</option>
      <option value="Business Office" <TMPL_VAR NAME=sectionbusiness>>Business Office</option>
      <option value="Medical Service" <TMPL_VAR NAME=sectionmedicalservice>>Medical Service</option>
      <option value="Medical Media" <TMPL_VAR NAME=sectionmedicalmedia>>Medical Media</option>
      <option value="Fiscal Service" <TMPL_VAR NAME=sectionfiscal>>Fiscal Service</option>
      <option value="Human Resources" <TMPL_VAR NAME=sectionhumanresources>>Human Resources</option>
      <option value="Engineering" <TMPL_VAR NAME=sectionengineering>>Engineering</option>
      <option value="Information Technology" <TMPL_VAR NAME=sectioninformationtech>>Information Technology</option>
      <option value="Housekeeping" <TMPL_VAR NAME=sectionhousekeeping>>Housekeeping</option>
      <option value="Research Service" <TMPL_VAR NAME=sectionresearch>>Research</option>
      <option value="Director" <TMPL_VAR NAME=sectiondirector>>Director's Office</option>
      <option value="Voluntary Services" <TMPL_VAR NAME=sectionvoluntary>>Voluntary Services</option>
    </select>
  <br />
  <label for="ext">Extension</label>
    <input type="textfield" name="ext" size="15" value=<TMPL_VAR NAME=ext>>
  <label for="pager">Pager</label>
    <input type="textfield" name="pager" size="15" value=<TMPL_VAR NAME=pager>>
  <label for="cell">Cell</label>
    <input type="textfield" name="cell" size="15" value=<TMPL_VAR NAME=cell>>
  <br />
  <label for="email">Email</label>
    <input type="textfield" name="email" size="30" value=<TMPL_VAR NAME=email>>
</div> <!-- end record -->
</form>
<!--
  module_access();
//-->