# sensitive
_sensitive
src/node_modules
src/bower_components
src/reference/raw/*.zip
src/reference/raw/*.gz

# ignore actual vortex configuration
vortex.json

# ignore real configuration for demo
config/demo.config
config/new.demo.config

# ignore vagrant
.vagrant

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
