#!/usr/bin/bash 

# set this file to contain your credentials for AWS and rename as awsconfig.sh
# run it with 'source awsconfig.sh' prior to running 'vagrant up --provider=aws'

export aws_access_key_id=''
export aws_secret_access_key=''
export aws_ami_file=''
export aws_security_group=''
export aws_keyname=''
export aws_keypath=''
export aws_elastic_ip=''
export aws_system_name=''
export aws_system_fqdn=''
export aws_poc_name=''    
export aws_poc_email=''
export aws_poc_phone=''
export aws_security_group=''
