// main colors
$main-color: #205493;
$primary-text-color: #000000;
$secondary-text-color: #D8D8D8;
$header-text-color: #a39f9f;
$header-border-color: #e9e9e9;
$button-color: #0071bc;
$white-color: #ffffff;
$gray-text: #a0adc0;
$light-gray-text: #b7b2b2;
$box-shadow: rgba(0, 0, 0, .5);

// Modal color
$info-color: #00C0ED;
$info-color-light: #DEF4F9;
$warning-color: #ffedb9;
$warning-color-light: rgba(255, 242, 206, .56);
$success-color: #70be91;
$success-color-light: #f6fcf6;

$accept-button: $main-color;
$danger-button: #F50027;
$cancel-button: #8E8E8E;
$success-button: #69BE28;

$th-color: #bcbcbc;
$td-bubble: #f6f6f6;
$td-border: #e9e9e9;
$th-span: #949494;
$accordion-header: #c6c6c6;

$hover-opacity: .9;
$modal-overlay: rgba(0, 0, 0, .8);

$drop-border: rgba(160, 173, 192, 0.23);
$drop-bg: #f5f6fa;
$radio-color: #006BC2;

// progress bar
$progress-bg: #e9e9e9;


