$g->{protocol}='https'; # https or http
$g->{domainname}='localhost';
$g->{sitename}='pseudovet';
$g->{site_slogan}='';
$g->{site_logo}="http:///images/logo.gif";
$g->{email_support}="support\\@localhost";
$g->{email_support_display}="support\@localhost";
$g->{email_sales}="sales\@";
$g->{appname}='app';
$g->{themes}='themes';
$g->{default_theme}="bootstrap";
$g->{modpath}="../app/modules";
$g->{tempfiles}="../app/temp";
$g->{sqlconf}="../app/app.conn";
$g->{modhome}='interface_preferences';
$g->{scriptname}="app.pl";
$g->{countryfile}='lib/country-codes.txt';
