@import "variables";

/* modal overlay */
.modal-overlay {
  background: $modal-overlay;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
}

/* modal */

.modal {
  width: 640px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 201;
  margin-left: -320px;
  transform: translateY(-50%);
  box-shadow: 0 2px 4px $box-shadow;
  background: $white-color;
  border-radius: 5px;
  .h1 {
    font-family: MyriadPro;
    font-size: 15px;
    color: $main-color;
    margin: 0;
    padding: 31px 0 22px 40px;
    letter-spacing: 0.5px;
  }
  strong {
    font-family: MyriadPro;
    display: block;
    font-size: 24px;
    color: $primary-text-color;
    letter-spacing: 0.8px;
    padding-left: 40px;
    word-wrap: break-word;
  }
  small {
    display: block;
    font-family: MyriadPro;
    opacity: 0.56;
    font-size: 16px;
    color: $primary-text-color;
    letter-spacing: 0.53px;
    padding-left: 40px;
    margin-top: 5px;
    margin-bottom: 23px;
  }
  .modal-type {
    width: 640px;
    height: 80px;
    border-left: 16px solid;
    h2 {
      opacity: 0.32;
      font-size: 16px;
      color: $primary-text-color;
      letter-spacing: 0.53px;
      margin: 0;
      padding: 0;
      padding-left: 75px;
      padding-top: 18px;
      font-family: Georgia;
      text-transform: uppercase;
    }
    p {
      opacity: 0.56;
      font-size: 14px;
      color: $primary-text-color;
      letter-spacing: 0.47px;
      margin-top: 5px;
      padding-left: 75px;
      font-family: MyriadPro;
    }
  }
}

/* different modal type specific styles */
.modal .modal-type.info {
  background: $info-color-light;
  border-color: $info-color;
}

.modal .modal-type.warning {
  background: $warning-color-light;
  border-color: $warning-color;
}

.modal .modal-type.success {
  background: $success-color-light;
  border-color: $success-color;
}

.modal .modal-type.error {
  background: $warning-color-light;
  border-color: $danger-button;

  h2, p {
    color: $danger-button;
  }
}

.modal .modal-type i {
  background: url('/assets/i/warning-icon.png') no-repeat;
  background-size: 35px 32px;
  width: 35px;
  height: 32px;
  float: left;
  margin-top: 21px;
  margin-left: 24px;
}

.modal .modal-type.info i {
  background: url('/assets/i/info-icon.png') no-repeat;
  background-size: 32px 32px;
}

.modal .modal-type.success i {
  background: url('/assets/i/success-icon.png') no-repeat;
  background-size: 32px 32px;
}

/* footer */
.modal .footer {
  padding-top: 16px;
  text-align: center;
  padding-bottom: 24px;
  &.gender {
    text-align: left;
    margin-left: 24px;
  }
}

/* gender selection style */
.modal .gender-section {
  font-family: MyriadPro;
  padding-left: 24px;
  padding-bottom: 24px;
  h5 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 16px;
    color: $primary-text-color;
    letter-spacing: 0.53px;
  }
  .age-title {
    margin-top: 25px;
  }
  .age-input {
    margin-bottom: 0;
  }
  .radio-wrapper {
    float: left;
    margin-right: 30px;
    cursor: pointer;
    .radio-box {
      margin-right: 10px;
      float: left;
      display: inline-block;
      position: relative;
      width: 24px;
      height: 24px;
      border-radius: 100%;
      border: 2px solid $radio-color;
    }
    line-height: 24px;
    font-size: 16px;
    color: $primary-text-color;
    letter-spacing: 0.53px;
    &.checked {
      color: $main-color;
      .radio-box:after {
        content: '';
        position: absolute;
        width: 12px;
        background: $radio-color;
        height: 12px;
        top: 4px;
        left: 4px;
        display: block;
        border-radius: 100%;
      }
    }
  }
}
