# copy this file, set the variables to work for your environment, and then
# rename it to demo.config

username='username'
password='password!!!'
servername='pseudovista.vaftl.us'
timeout=1500
command="ssh"
access_code='someaccesscode'
verify_code='someverifycode'
clinic_name='PRIMARY CARE'
patient_name='seven,patient'
